<div class="container">
  <h2>Mission Launch List</h2>
  <!-- Mission Filter Component -->
  <app-missionfilter (filterChanged)="onFilterChanged($event)"></app-missionfilter>
  <!-- Mission Cards Grid -->
  <div class="mission-grid">
    <div *ngFor="let mission of filteredMissions" class="mission-card">
        <div class="mission-header">
          <img *ngIf="mission.links.mission_patch_small" [src]="mission.links.mission_patch_small" alt="Mission Patch">
          <h2>{{ mission.flight_number }} - {{ mission.mission_name }}</h2>
        </div>
        <p><strong>Launch Year:</strong> {{ mission.launch_year }}</p>
        <p *ngIf="mission.details"><strong>Details:</strong> {{ mission.details }}</p>
        <button (click)="openMissionDetailsInNewTab(mission.flight_number)">View Details</button>
    </div>
  </div>
</div>
