<h2 style="text-align: center; ">SpaceX Mission Details</h2>
<div *ngIf="mission" class="mission-details">
  <div class="image-container">
    <img [src]="mission.links.mission_patch_small" alt="Mission Patch" />
  </div>
  <div class="info-container">
    <h2>{{ mission.mission_name }}</h2>
    <p><strong>Flight Number:</strong> {{ mission.flight_number }}</p>
    <p><strong>Launch Year:</strong> {{ mission.launch_year }}</p>
    <p><strong>Details:</strong> {{ mission.details || 'No details available' }}</p>

    <div class="rocket-info">
      <h3>Rocket Information</h3>
      <p><strong>Rocket Name:</strong> {{ mission.rocket.rocket_name }}</p>
      <p><strong>Rocket Type:</strong> {{ mission.rocket.rocket_type }}</p>
    </div>

    <div class="links">
      <h3>Links</h3>
      <div *ngIf="mission.links.article_link">
        <a [href]="mission.links.article_link" target="_blank">Article Link</a>
      </div>
      <div *ngIf="mission.links.wikipedia">
        <a [href]="mission.links.wikipedia" target="_blank">Wikipedia</a>
      </div>
      <div *ngIf="mission.links.video_link">
        <a [href]="mission.links.video_link" target="_blank">Video Link</a>
      </div>
    </div>

    <button (click)="onBack()">Back to Mission List</button>
  </div>
</div>
